<h1>Produtos Cadastrados</h1>
<div class="container-users">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Valor</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td><a href="/editproduct/{{this.id}}" class="text-decoration-none">{{this.nameProduct}}</a></td>
                <td>{{this.valueProduct}}</td>
                <td>
                    <form action="/delete/{{this.id}}" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" class="btn btn-outline-danger" value="Excluir">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
